body {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(18,170,145,1) 100%);
}

.container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.btn {
    border: 2px solid transparent;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: #DAFFFB;
    text-transform: uppercase;
    padding: 5px;
    margin: 2px;
}

p {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.button {

    background: #189e88;
    border: none;
    font-size: 22px;
    color: white;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
  }